body ul{
    list-style: none;
}
body button:focus{
    outline: none;
}
/***********************************************
***************       HEADER       **************
************************************************/
header{
    width: 100%;
}
header .top-header{
    border-bottom: 1px dashed #c69c6d;
    overflow: hidden;
    position: fixed;
    background-color: #eab51c;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 15px;
}
header .top-header .navbar{
    margin-bottom: -15px;
}
header .top-header .navbar #head{
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: -15px;
}
header .top-header ul ul{
    list-style: none;
    top: 100%;
    left: 0;
}header .top-header ul a{
    color: #603913;
}

header .top-header .dropdown-account{
    display:none;
    position: absolute;
    width: 150px;
    right: 0px;
    background: #fff;
    z-index: 10;
}
header .top-header .dropdown-account ul{
    margin-left: -15px;
}
header .top-header .dropdown-account ul li{
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px;
}
header .top-header ul li:hover .dropdown-account{
    display: block;
}
header .top-header ul li a:hover{
    background-color: #ddd;
}
header .logo-info-menu{
    margin-top:70px;
}
header .logo-info-menu .info ul li i{
    font: size 25px;
    background-color: #f2b94c;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
}
header .logo-info-menu .info span{
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}
header .logo-info-menu .info span h5{
    margin-bottom: 0px;
    color: #c69c6d;
}
header .logo-info-menu .info span p{
    color: #603913;
}
header .logo-info-menu .info ul li{

    padding-left: 80px;
}
header .logo-info-menu .info ul li:last-child{
    margin-right: 30px;
}
header .logo-info-menu .logo{
    position: absolute;
}
header .logo img{
    margin-left: 15px;
}
header .logo-info-menu .top-menu ul{
    list-style: none;
    margin-left: -30px;
    position: relative;
}
header .logo-info-menu .top-menu ul li{
    float: left;
    padding-left: 20px;
}
header .logo-info-menu .top-menu ul li:first-child{
    padding-left: 0px;
}
header .logo-info-menu .top-menu ul li a{
    color: #603913;
    padding:15px;
}
header .logo-info-menu .top-menu ul li a:hover{
    text-decoration: none;
}
header .logo-info-menu .top-menu ul li :last-child{
   padding-right:0px;
}
header .logo-info-menu .top-menu ul ul{
    list-style: none;
}
header .logo-info-menu .top-menu ul li:hover .dropdown-account-coppy{
    display: block;
}
header .logo-info-menu .top-menu ul li:hover #dropdown-products{
    display: block;
}
header .top-menu .dropdown-account-coppy ul li{
    display: block;
    float: none;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px;
}
header .logo-info-menu .top-menu .dropdown-account-coppy{
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 15;
    margin-top:10px;
}
header .top-menu #dropdown-products{
    display: none;
    position: absolute;
    background-color:#fff ;
    left: 30px;
    right: 0px;
    padding-top: 10px;
    z-index: 15;
    margin-top:10px;
}
header .top-menu ul li #dropdown-products a{
    padding-left: 0px;
}
header .top-menu #dropdown-products span{
    padding-right: 5px;
    color: #c69c6d;
}
header .top-menu #dropdown-products h3{
    font-size: 14px;
    color:#603913;
    padding-bottom: 15px;
    margin-left: 15px;
}
header .top-menu #dropdown-products a{
    font-size: 12px;
    color: #c69c6d;
}

header .top-menu #dropdown-products li{
    font-size: 12px;
    padding-right: 0px;
    float:none; 
    padding-top: 3px;
    padding-bottom: 3px;
}
header .top-menu #dropdown-products li:first-child{
    padding-left: 20px;
}
header .menu-bar{
    padding-top:30px;
    padding-bottom: 20px;
}
header .menu-bar .cart-search ul li{
    float: right;
}
header .menu-bar .cart-search .btn-img{
    margin-top:-20px;
}
header .menu-bar .cart-search ul li a{
    padding-left:15px;   
    padding-bottom: 15px;
}
header .menu-bar .cart-search .count{
    right: 13px;
    position: absolute;
    height: 18px;
    width: 17px;
    background-color: #f2b94c;
    border-radius: 26px;
    text-align: center;
    top: -9px;
    color: #fff;
}
header .menu-bar .cart-search #cart-list{
    display: none;
    position: absolute;
    width: 270px;
    margin-top:10px;
    background-color: #fff;
    border-top: 1.5px solid #f2b94c;
    z-index: 20;
    left:0px;   
}
header .cart-search ul li:hover #cart-list{
    display: block;
}
header .cart-search ul li:hover .search-dropdown{
    display: block;
}

header .menu-bar .cart-search #cart-list h4{
    font-size: 14px;
    color: #252525;
}
header .menu-bar .cart-search #cart-list p{
    font-size: 14px;
    color: #c69c6d;
}
header .menu-bar .cart-search #cart-list .cart-img{
    float: left;
    clear: left;
}
header #cart-list .cart-item{
    position: relative;
}
header .menu-bar .cart-search .cart-list .cart-content{
    float: left;
    padding-left: 5px;
}
header .menu-bar .cart-search #cart-list  i{
    border-radius: 50%;
    padding: 3px;
    background-color: #f2b94c;
    color: #fff;
    right: 10px;
    position: absolute;
    top: 10px;
}
header .menu-bar .cart-search .search-dropdown{
    position: absolute;
    display: none;
    z-index: 20;
    right: 10px;
}

/***********************************************
***************       SLIDE       **************
************************************************/
.slide {
    position: relative;
    padding-bottom: 20px;
}
.slide:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 10px;
    z-index: 10;
    background: url('../../images/slide/rangCua_02.png') repeat-x left top;
}
.slide .right-click img{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}
.slide .left-click img{
    position: absolute;
    left:0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}
.slide .right-click img:hover, .slide .left-click img:hover{
    opacity: 1;
}
.slide .logo-img{
    position: absolute;
    z-index: 18;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}
.slide .carousel-caption {
    bottom: 80px;
}
.slide .carousel-caption h2{
    font-size: 66px;
    padding-bottom: 25px;
}
.slide .carousel-caption p{
    font-size: 20px;
    padding-bottom: 20px;

}

/**/

.top-banner{
    padding-bottom: 20px;
}
.top-banner img{
    width: 100%;
}

/***********************************************
***************       BODY       **************
************************************************/
.title{
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    background-color: #c69c6d;
}
.title:after{
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background:url('../../images/rangcua_03.png') repeat-x left bottom;
}
.menu h2{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-top: 8px;
    padding-left: 8px;
}

.menu .danh-muc-sp .list-sp {
    padding-top:30px;
}
.menu .danh-muc-sp .list-sp ul{
    margin-left: -30px;
}
.menu .danh-muc-sp .list-sp ul li{
    padding-bottom: 7px;
    padding-top:7px;
    border-bottom:1px solid #ebebeb;
}
.menu .danh-muc-sp .list-sp ul li a{
    color:#c69c6d;
    text-transform: uppercase;  
    text-decoration: none;
}



.main-content h2{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-top: 8px;
    padding-left: 8px;
}
.main-content .products{
    padding-top: 30px;
}
.main-content .products .products-img{
    text-align: center;
}
.main-content .products .mo-ta-sp p{
    text-align: center;
    color: #c69c6d;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: -8px;
}
.main-content .products .mo-ta-sp h3{
    text-align: center;
    color: #252525;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: -8px;
}
.main-content .products .mo-ta-sp .rate{
    text-align: center;
}
.main-content .products .mo-ta-sp .rate i{
    color: #c69c6d;
    font-size:12px;
}

/*Add to cart*/
.main-content .products .add-to-cart{
    display: none;
}
/*Show when hover*/
.main-content .products .products-img:hover img{
    opacity: 0.5;
    
}
.main-content .products .products-img:hover .add-to-cart{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    
}

.brand-title{
    border-bottom:1px solid #f6f3ee ;
    margin-bottom: 30px;
}
.brand h3{
    font-size: 14px;
    text-transform: uppercase;
    color:#603913;
    text-align: left;
}
.brand{
    padding-bottom: 30px;
}
footer{
    position: relative;
    width: 100%;
    background-color: #f8f1e4;
}
footer::after{
    content: "";
    position: absolute;
    height: 10px;
    top:0;
    left: 0;
    right: 0;
    background: url('../../images/rangCuaFooter_03.png') repeat-x top left;
}
footer .quick-menu{
    padding-top:35px;
}
footer .quick-menu ul{
    margin-left: -30px;
}
footer .quick-menu ul li a{
    font-size:13px;
    color:#603913;
}
footer .quick-menu h3{

    font-size: 14px;
    color:#603913;
    text-transform: uppercase;
    font-style: bold;
    padding-bottom: 15px;
}
footer .quick-menu .getEmail{
    position: relative;
}
footer .quick-menu .getEmail button{
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
footer .quick-menu .getEmail button:focus{
    outline: none;
}
footer .company h3{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color:#603913;
    font-size: 18px;
}
footer .company p{
    text-align: center;
    font-size: 14px;
}
footer .footer-bottom{
    border-top: 1px dashed #c69c6d;
    margin-top:30px;
    padding-top:20px;
    margin-bottom: 20px;
}
footer .footer-bottom img{
    padding-bottom: 10px;
}
